#aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;

    font-size: 70px;
    font-weight: 600;
    background-image: radial-gradient(#553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  #aboutText {
    width: 50%;
    margin: 4%;
  }
}

.content-header {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  #aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 60%;
    }
    #aboutText {
      width: 90%;
      margin-top: 7%;
    }
  }
}
