#careercontent {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* Timeline Container */
.timeline {
    background: rgba(255, 255, 255, 0);
    margin: 20px auto;
    padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
    border-left: 3px solid rgb(95, 95, 95);
}

/* Card container */
.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #333;
    color: gray;
    border-radius: 8px;
    max-width: 400px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.title {
    color: orangered;
    position: relative;
}
/* Title of the card */
.titleyear {
    color: rgb(216, 182, 154);
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -37px;
    border: 3px solid rgb(201, 81, 12);
}
