.container {
  position: relative;
  // padding-top: 54px;
  min-height: 100vh;
  // height: 100vh;
  // background-color: rgba(119, 119, 119, 0.384);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // padding-top: 100px;
  min-height: 100vh;
}

.blur {
  backdrop-filter: blur(3px);
  position: fixed;
  height: 100vh;
  width: 100vw;
}
