.container {
    // border-radius: 50px;
    // border-style: solid;
    // border-width: 4px;
    // border-color: black;
    width: 90%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content {
        height: 80vh;
        border-radius: 30px;
        background-color: rgba(59, 56, 56, 0.39);
        backdrop-filter: blur(3px);
    }
}
