* {
  box-sizing: border-box;
}

.nav {
  padding: 0;
  z-index: 100;
  height: 55px;
  color: white;
  position: fixed;
  padding-left: 7px;
  top: 0;
  right: 0;
  border-radius: 0px 0px 0px 25px;
  display: flex;
  // justify-content: space-between;
  //   align-items: stretch;
  //   gap: 3rem;
  backdrop-filter: blur(3px);
  background-color: #11111180;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0;
    z-index: 100;
    height: 55px;
    color: white;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(3px);
    background-color: #00000080;
  }
}

nav ul {
  display: flex;
}

.nav a {
  color: inherit;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  text-decoration: none;
  transition: all 0.2s ease;
  height: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: fit-content;
}

.nav li .active {
  background-color: rgba(105, 105, 105, 0.301);
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .nav a:hover {
    background-color: rgba(73, 73, 73, 0.493);
    border-radius: 10px;
  }
}
