@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Fira Mono";
}

body {
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
